/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}

hr {
    display: block;
    border: 1px solid #ccc;
    margin: 1rem 0;
}

.small-text {
    font-size: 0.8em;
    color: gray;
}